@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__list/intro__list.css");
@import url("./__list-item/intro__list-item.css");
@import url("./__span-normal/intro__span-normal.css");
@import url("./__container/intro__container.css");

.intro {
  padding: 92px 48px 0;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px 0;
  }
}
