@import url("./__title-container/cover__title-container.css");
@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__overlay/cover__overlay.css");

.cover {
  max-width: 100%;
  padding: 0 48px;
  position: relative;
}

.cover__image {
  background-image: url("../../images/cover-trains.jpg");
  margin: 0 auto;
  width: 100%;
  background-size: 100% 100%;
  padding-bottom: 37%;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}
