@import url("./__title/place__title.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__link/place__link.css");
@import url("./__image/place__image.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__description/place__description.css");

.place {
  display: grid;
  padding-bottom: 80px;
  grid-template-columns: 47% 1fr;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 40px 48px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 32px 48px;
  }
}
