@import url("./__link-list/footer__link-list.css");
@import url("./__link-list-item/footer__link-list-item.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
  padding: 92px 48px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
